{% extends 'base.html' %}

{% block content %}
    {% if name %}
    <h1>Hello {{ name }}, {{ date }}</h1>
    <table id='grid'>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <p id='winner'></p>
    {% else %}
    <h1>Sign In</h1>
    <form action="/ttt/" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{% endblock %}
